Ethernet.dst_s
Ethernet.src_s
Ethernet.IP.dst_s
Ethernet.IP.errors
Ethernet.IP.flags
Ethernet.IP.header_len
Ethernet.IP.hl
Ethernet.IP.id
Ethernet.IP.len
Ethernet.IP.len_au_active
Ethernet.IP.off
Ethernet.IP.offset
Ethernet.IP.opts
Ethernet.IP.p
Ethernet.IP.src_s
Ethernet.IP.ttl
Ethernet.IP.v
Ethernet.IP.TCP.HTTP.header_len
Ethernet.IP.TCP.HTTP.startline
